* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-game {
  width: 400px;
  height: 400px;
  background-color: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  span {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 30px;

    &:hover {
      cursor: pointer;
      background: #f6f6f6;
    }
  }
}
